.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

.borderCircle {
  border-radius: 1000px;
  border: 3px solid #000; /* 黒色の3pxの枠線 */
}

.lightText {
  color: #999;
}

.postContent {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.postContent h2 {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  color: #222;
}

.postContent p {
  margin-bottom: 1rem;
}

.postContent a {
  color: #0070f3;
  text-decoration: underline;
}
