.container {
  max-width: 1244px;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  background-color: #f5f5f5; /* 薄いグレーで背景を強調 */
  padding: 1.5rem;
  border-bottom: 2px solid #ddd;
  text-align: center;
  margin-bottom: 2rem; /* 下に余白をつける */
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}
